.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #07cddb;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{ 
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#07cddb;
    font-size: 10px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #07cddb;
    width:100%;
    max-width:350px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

a.submit{
    color: rgb(88, 148, 88);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

a:hover.submit{
    color: rgb(226, 41, 41); /* Darker shade on hover */
    text-decoration: none;

}
