/* **************************************************NAV************************************************************************************** */
.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}
.form-control{
    border-radius: 50px;
}

/* ***********************************************************NAVENDS****************************************************************************** */

a{
    text-decoration: none;
    color:white;
}
.addcart{
background-color: black;
color:white;
position:relative;
bottom:60px;
height:40px;

}
#p{
    height:300px;                       /* images length*/
    width:300px;
    border-radius: 10%;
    position:relative;
    top:20px;
    
    
}
.infop1{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col1{
    position:absolute;
    left:80px;
    top:50px;
 text-align: center;
 


}
.infop2{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col2{
    position:absolute;
    left:350px;
    top:1px;
 text-align: center;
 
}
.infop3{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col3{
    position:absolute;
    left:360px;
    top:0px;
 text-align: center;

}
.infop4{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col4{
    position:absolute;
    left:360px;
    top:0px;
 text-align: center;

}
.infop5{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col5{
    position:absolute;
    right:1073px;
    top:430px;
 text-align: center;
 

}
.infop6{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col6{
    position:absolute;
    left:350px;
    bottom: 0px;
 text-align: center;

}
.infop7{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col7{
    position:absolute;
    left:350px;
    bottom: 0px;
 text-align: center;

}
.infop8{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col8{
    position:absolute;
    left:370px;
    bottom: 0px;
 text-align: center;

}
