body{
    background-color: #E3E6F3;
    padding: 10 px;
    background-image: url('https://img.freepik.com/premium-photo/top-view-online-shopping-concept-with-credit-card-smart-phone-computer-isolated-office-yellow-table-background_315337-3591.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}
nav{
    height:90px;
    width:100%;
    background-color: rgb(12, 25, 44);
    display:flex;
    justify-content: space-around;
    position: absolute;
    top:20px;
    align-items: center;
    z-index: 1;

}
.navbutton{
    list-style-type: none;
    color:white;
}
.search{
    height:20px;
}
a{
    color:white;
    list-style-type: none;
    
}
#logo{
    height:50px;
    width:50px;
    position:relative;
    z-index: 2;
}
.daily{
    position:relative;
    top:130px;
    left:350px;
    height:300px;
    width:70%;
    background-color: black;
}

.ontop{
    background-image:url(https://images.hindustantimes.com/tech/img/2023/09/18/960x540/kjhg_1694543778952_1695033896493.png);
    background-size:contain;
    position:absolute;
    top:70px;
    left:220px;
    height:220px;
    width:70%;
    z-index:2;
}
.infod{
    color:white;
    position:relative;
    top:80px;
    left:30px;
    font-size:x-large;
    z-index:1;
}
.sidebar{
    background-color: rgb(88, 120, 121);
height:700px;
width:300px;
position:relative;
bottom:185px;
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: space-evenly;

}




