a{
    text-decoration: none;
    color:white;
}
.addcart{
background-color: black;
color:white;
position:relative;
bottom:60px;
height:40px;

}
#p{
    height:300px;                       /* images length*/
    width:300px;
    border-radius: 10%;
    
    
}
.infop{
    position:relative;
    top:23px;
    bottom:60px;
height:40px;
background-color: rgb(234, 230, 226);
}
.col1{
    position:absolute;
    left:80px;
    top:20px;
 text-align: center;
 
}
.col2{
    position:absolute;
    left:350px;
    top:0px;
 text-align: center;
 
}
.col3{
    position:absolute;
    left:360px;
    top:0px;
 text-align: center;

}
.col4{
    position:absolute;
    left:360px;
    top:0px;
 text-align: center;

}
.col5{
    position:absolute;
    right:1073px;
    top:430px;
 text-align: center;
 
}
.col6{
    position:absolute;
    left:350px;
    bottom: 0px;
 text-align: center;

}
.col7{
    position:absolute;
    left:350px;
    bottom: 0px;
 text-align: center;

}
.col8{
    position:absolute;
    left:370px;
    bottom: 0px;
 text-align: center;

}
